In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%reload_ext dotenv

%dotenv ../../env/.env

import warnings
import utils
from pandas import Timedelta
import time
from utils import logger, sql_to_df, run_sql, session, conn
import pandas as pd
warnings.filterwarnings('ignore')

try:
    %load_ext autotime
except:
    !pip install ipython-autotime
    %load_ext autotime

06:08:28 INFO:Snowflake Connector for Python Version: 2.7.12, Python Version: 3.8.16, Platform: macOS-10.15.7-x86_64-i386-64bit
06:08:28 INFO:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
06:08:28 INFO:Setting use_openssl_only mode to False
06:08:29 INFO:Snowflake Connector for Python Version: 2.7.12, Python Version: 3.8.16, Platform: macOS-10.15.7-x86_64-i386-64bit
06:08:29 INFO:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.

connected to account OMWYKHW-US_WEST_2 wh DEMO db SHARE_COPY schema KNOT_MONITORING with role DEV

06:08:31 INFO:Snowpark Session information:
"version" : 1.3.0,
"python.version" : 3.8.16,
"python.connector.version" : 2.7.12,
"python.connector.session.id" : 9098488785371206,
"os.name" : Darwin

time: 16.1 ms (started: 2023-06-06 18:08:31 -04:00)

In [3]:
# %conda install python-dotenv
# %conda install snowflake-connector-python[pandas]
# %conda install pandas
# %conda install plotly
# %conda install snowflake-snowpark-python

time: 429 µs (started: 2023-06-03 20:45:29 -04:00)

In [3]:
# warehouse_ids = [41,42,43]
warehouse_ids = [38,39,40]
joined = ','.join([str(w) for w in warehouse_ids])
sql_str = f"({joined})"

sql = f"""
select 
    warehouse_id, 
    era_start, 
    era_end
from query_era

-- where warehouse_id in {sql_str}
order by era_start asc
"""

df = sql_to_df(sql)
display(df)

06:08:31 INFO:query: [select warehouse_id, era_start, era_end from query_era  -- where warehouse_id in...]

using arrow to fetch results...

06:08:35 INFO:query execution done

,warehouse_id,era_start,era_end
0,4,2023-02-17 11:39:08.580000-08:00,2023-02-17 11:39:08.782000-08:00
1,4,2023-02-17 11:39:09.963000-08:00,2023-02-17 11:39:10.076000-08:00
2,4,2023-02-17 11:39:10.546000-08:00,2023-02-17 11:39:17.920000-08:00
3,19,2023-02-17 11:39:10.942000-08:00,2023-02-17 11:39:13.754000-08:00
4,19,2023-02-17 11:39:16.967000-08:00,2023-02-17 11:39:19.862000-08:00
...,...,...,...
2860458,19,2023-06-06 09:59:42.122000-07:00,2023-06-06 09:59:42.344000-07:00
2860459,19,2023-06-06 09:59:43.604000-07:00,2023-06-06 09:59:55.034000-07:00
2860460,4,2023-06-06 09:59:56.708000-07:00,2023-06-06 09:59:57.429000-07:00
2860461,4,2023-06-06 09:59:57.970000-07:00,2023-06-06 09:59:58.526000-07:00
2860462,27,2023-06-06 09:59:58.679000-07:00,2023-06-06 09:59:59.444000-07:00

time: 17.9 s (started: 2023-06-06 18:08:31 -04:00)

In [4]:
snow_df = session.sql(sql)
df = snow_df.to_pandas()
# display(df.to_pandas())
df.columns = df.columns.str.lower()
df

06:08:49 INFO:query: [select warehouse_id, era_start, era_end from query_era  -- where warehouse_id in...]
06:08:50 INFO:query execution done

,warehouse_id,era_start,era_end
0,4,2023-02-17 11:39:08.580000-08:00,2023-02-17 11:39:08.782000-08:00
1,4,2023-02-17 11:39:09.963000-08:00,2023-02-17 11:39:10.076000-08:00
2,4,2023-02-17 11:39:10.546000-08:00,2023-02-17 11:39:17.920000-08:00
3,19,2023-02-17 11:39:10.942000-08:00,2023-02-17 11:39:13.754000-08:00
4,19,2023-02-17 11:39:16.967000-08:00,2023-02-17 11:39:19.862000-08:00
...,...,...,...
2860458,19,2023-06-06 09:59:42.122000-07:00,2023-06-06 09:59:42.344000-07:00
2860459,19,2023-06-06 09:59:43.604000-07:00,2023-06-06 09:59:55.034000-07:00
2860460,4,2023-06-06 09:59:56.708000-07:00,2023-06-06 09:59:57.429000-07:00
2860461,4,2023-06-06 09:59:57.970000-07:00,2023-06-06 09:59:58.526000-07:00
2860462,27,2023-06-06 09:59:58.679000-07:00,2023-06-06 09:59:59.444000-07:00

time: 12.6 s (started: 2023-06-06 18:08:49 -04:00)

In [5]:
import snowflake.snowpark.functions as F
import snowflake.snowpark.dataframe

polling_sec = 1
# where warehouse_id in (
#     select warehouse_id from (
#         select top 10
#             warehouse_id,
#             warehouse_name,
#             sum(dollars_used)
#         from warehouse_metering_history_enriched
#         group by 1,2 order by 3 desc
#     )


def greedy_suspend(query_eras, autosuspend_sec):
    started = False
    resumed_on = None
    previous_end = None
    dt = Timedelta(seconds=autosuspend_sec)
    events = []
    for (start, end) in query_eras:
        # first process events between previous_end and start
        # suspend happens at: 
        # previous_end + 2*polling_period, as long as we're after resumed_on + 60 + 2*polling_period, 
        if started:
            timediff = start - previous_end 
            if timediff > dt:
                suspend_time = previous_end + dt
                started = False
                events.append((suspend_time, 'suspend'))

        if not started:
            started = True
            resumed_on = start
            events.append((resumed_on, 'resume'))

        previous_end = end
    
    if started:
        suspend_time = previous_end + dt
        started = False
        events.append((suspend_time, 'suspend')) 
        
    events_df = pd.DataFrame(events, columns=['timestamp', 'event_type'])
    return events_df

def snowflake_suspend(query_eras, autosuspend_sec):
#     dt = Timedelta(seconds=autosuspend_sec)
#     sixty = Timedelta(seconds=60)
    return greedy_suspend(query_eras, max(autosuspend_sec, 30))

def smart_suspend(query_eras, polling_sec):
    started = False
    running = 0
    resumed_on = None

    previous_end = None
    resumed_plus_sixty = None
    events = []
    for (start, end) in query_eras:
        
        # first process events between previous_end and start
        # suspend happens at: 
        # previous_end + 2*polling_period, as long as we're after resumed_on + 60 + 2*polling_period, 

        if started:
            first_check_after_previous_end = previous_end + 2*Timedelta(seconds=polling_sec)
            earliest_possible_suspend = max(first_check_after_previous_end, resumed_plus_sixty)
            if earliest_possible_suspend < start:
                started = False
                events.append((earliest_possible_suspend, 'suspend'))

        if not started:
            started = True
            resumed_on = start
            resumed_plus_sixty = resumed_on + Timedelta(seconds=60)
            events.append((resumed_on, 'resume'))

        previous_end = end
    
    if started:
        first_check_after_previous_end = previous_end + 2*Timedelta(seconds=polling_sec)
        earliest_possible_suspend = max(first_check_after_previous_end, resumed_plus_sixty)
        events.append((earliest_possible_suspend, 'suspended'))


    events_df = pd.DataFrame(events, columns=['timestamp', 'event_type'])
    return events_df

def wh_events_sim(df):
    warehouse_event_dfs = []
    for warehouse_id in df.warehouse_id.unique():
        print(warehouse_id)
        wh_df = df[df.warehouse_id == warehouse_id].sort_values('era_start', ascending=True)

        eras = list(zip(wh_df.era_start, wh_df.era_end))

        strategy = {'type': 'greedy_after_one_min', 'polling_sec': polling_sec}

        events_df = smart_suspend(eras, polling_sec)
        events_df['strategy'] = str(strategy)
        events_df['warehouse_id'] = warehouse_id
        warehouse_event_dfs.append(events_df)

        # autosuspend_sec = 60
        for autosuspend_sec in [30, 60, 120]:

            strategy = {'type': 'greedy', 'autosuspend_sec': autosuspend_sec}
            # print(strategy)
            events_df = greedy_suspend(eras, autosuspend_sec)
            events_df['strategy'] = str(strategy)
            events_df['warehouse_id'] = warehouse_id
            warehouse_event_dfs.append(events_df)

            strategy = {'type': 'snowflake', 'autosuspend_sec': autosuspend_sec}
            # print(strategy)
            events_df = snowflake_suspend(eras, autosuspend_sec)
            events_df['strategy'] = str(strategy)
            events_df['warehouse_id'] = warehouse_id
            warehouse_event_dfs.append(events_df)

    final_df = pd.concat(warehouse_event_dfs)

    def uppercase_all_columns(df: snowflake.snowpark.dataframe) -> snowflake.snowpark.dataframe:
        return df.select([F.col(column).as_(column.upper()) for column in df.columns])

    final_df.timestamp = final_df.timestamp.map(str)

    df = session.create_dataframe(final_df)
    uppercase_all_columns(df).write.mode("overwrite").save_as_table("wh_events_sim_python")

time: 3.24 ms (started: 2023-06-06 18:09:02 -04:00)

In [6]:
wh_events_sim(df)

# to update downstream dbt models, run this after:
# dbt run -s warehouse_era_simulated+

4
19
27
23
17
20
29
28
30

06:11:24 INFO:query: [create temporary stage /* Python:snowflake.connector.pandas_tools.write_pandas()...]
06:11:26 INFO:query execution done
06:11:27 INFO:query: [PUT /* Python:snowflake.connector.pandas_tools.write_pandas() */ 'file:///var/fo...]
06:11:27 INFO:query execution done
06:11:37 INFO:query: [CREATE FILE FORMAT "eopgi" /* Python:snowflake.connector.pandas_tools.write_pand...]
06:11:38 INFO:query execution done
06:11:38 INFO:query: [SELECT COLUMN_NAME, TYPE FROM table(infer_schema(location=>'@"tmcjj"', file_form...]
06:11:38 INFO:query execution done
06:11:38 INFO:query: [CREATE TEMPORARY TABLE IF NOT EXISTS "SHARE_COPY"."KNOT_MONITORING"."SNOWPARK_TE...]
06:11:39 INFO:query execution done
06:11:39 INFO:query: [DROP FILE FORMAT IF EXISTS "eopgi"]
06:11:39 INFO:query execution done
06:11:39 INFO:query: [COPY INTO "SHARE_COPY"."KNOT_MONITORING"."SNOWPARK_TEMP_TABLE_BYSD8LV9YY" /* Pyt...]
06:11:44 INFO:query execution done
06:11:44 INFO:query: [SELECT  *  FROM ("SHARE_COPY"."KNOT_MONITORING"."SNOWPARK_TEMP_TABLE_BYSD8LV9YY"...]
06:11:45 INFO:query execution done
06:11:45 INFO:query: [SELECT  *  FROM "SHARE_COPY"."KNOT_MONITORING"."SNOWPARK_TEMP_TABLE_BYSD8LV9YY"]
06:11:45 INFO:query execution done
06:11:45 INFO:query: [CREATE  OR  REPLACE    TABLE  wh_events_sim_python AS  SELECT  *  FROM ( SELECT ...]
06:11:48 INFO:query execution done

time: 2min 46s (started: 2023-06-06 18:09:02 -04:00)

In [ ]:
# # testing integrity of simulation against sql simulation
# with sql as (
# select 
#     strategy,
#     warehouse_id,
#     timestamp::timestamp_ltz as timestamp,
#     event_type 
# from warehouse_events_history_sim 
# ),
# python as (
# select 
#     try_parse_json(strategy) as strategy,
#     warehouse_id,
#     timestamp::timestamp_ltz as timestamp,
#     event_type
# from wh_events_sim_python
# ),
# common_strategies as (
#     select distinct strategy from sql
#     intersect
#     select distinct strategy from python
# )
# ,
# common_warehouses as (
#     select distinct warehouse_id from sql
#     intersect
#     select distinct warehouse_id from python
# ),
# diffs as (
# (select * from python where strategy in (select * from common_strategies) and warehouse_id in (select * from common_warehouses)
# minus 
# select * from sql where strategy in (select * from common_strategies) and warehouse_id in (select * from common_warehouses))
# union
# (select * from sql where strategy in (select * from common_strategies) and warehouse_id in (select * from common_warehouses)
# minus 
# select * from python where strategy in (select * from common_strategies) and warehouse_id in (select * from common_warehouses))
# )
# -- select distinct strategy from python;
# select 
# (select count(*) from sql) num_records_sql,
# (select count(*) from python) num_records_python,
# (select count(*) num_diffs from diffs) num_diffs, 
# (select array_agg(strategy) from common_strategies) common_strategies,
# (select count(*) from common_warehouses) num_warehouses;

# num_diffs should be zero

In [8]:
raise ValueError('stop')

ValueError: stop

time: 320 ms (started: 2023-04-24 00:28:38 -04:00)

In [9]:
events_df = smart_suspend(eras, polling_sec)
events_df

01:18:50 INFO:Snowflake Connector for Python Version: 2.7.12, Python Version: 3.8.16, Platform: macOS-10.15.7-x86_64-i386-64bit
01:18:50 INFO:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
01:18:51 INFO:Snowflake Connector for Python Version: 2.7.12, Python Version: 3.8.16, Platform: macOS-10.15.7-x86_64-i386-64bit
01:18:51 INFO:This connection is in OCSP Fail Open Mode. TLS Certificates would be checked for validity and revocation status. Any other Certificate Revocation related exceptions or OCSP Responder failures would be disregarded in favor of connectivity.
01:18:52 INFO:Snowpark Session information:
"version" : 1.3.0,
"python.version" : 3.8.16,
"python.connector.version" : 2.7.12,
"python.connector.session.id" : 9098488784785414,
"os.name" : Darwin

connected to account OMWYKHW-US_WEST_2 wh DEMO db SHARE_COPY schema KNOT with role DEV

NameError: name 'eras' is not defined

time: 77.6 ms (started: 2023-04-27 01:18:52 -04:00)

In [ ]:
# query_eras = \
# [(Timestamp('2023-04-10 16:44:00'), Timestamp('2023-04-10 16:44:10')),
#  (Timestamp('2023-04-10 16:44:15'), Timestamp('2023-04-10 16:44:25')),
#  (Timestamp('2023-04-10 16:44:55'), Timestamp('2023-04-10 16:45:05')),
#  (Timestamp('2023-04-10 16:45:15'), Timestamp('2023-04-10 16:45:25'))]

In [ ]:
# from pandas import Timestamp
# expected = [
#     {'timestamp': Timestamp('2023-04-10 16:44:00'), 'event_type': 'resume'},
#     {'timestamp': Timestamp('2023-04-10 16:45:07'), 'event_type': 'suspend'},
#     {'timestamp': Timestamp('2023-04-10 16:45:15'), 'event_type': 'resume'},
#     {'timestamp': Timestamp('2023-04-10 16:46:15'), 'event_type': 'suspended'}
# ]

# expected_df = pd.DataFrame.from_dict(expected)
# pd.testing.assert_frame_equal(expected_df, events_df)
# # events_df.to_dict('records')

In [ ]:
# %pip install duckdb

In [ ]:
# import duckdb
# duckdb.query("select * from wh_df")

In [ ]:
# duckdb.query("""
# select 
#     generate_series(
#         (select min(era_start) from wh_df),
#         (select max(era_end) from wh_df),
#         interval 1 second
#     )
# """)

In [ ]:
eras

In [ ]:
final_df.strategy.unique()

In [ ]:
df.schema

In [ ]:
sql = """
with query_era as (
    select * from sandbox.query_era
),
range as (
    select 
        min(era_start) as min, 
        max(era_end) as max,
        timediff(seconds, min, max) as num_seconds
    from query_era

)
-- select * from range;
,
seconds as (
    select
        dateadd(
            'second',
            '-' || row_number() over (order by seq4() asc),
            dateadd('second', '+1', date_trunc('second', current_timestamp()))
        ) as second_start
        
        -- dateadd('second', '+1', second_start) as second_end
        
    from table(generator(rowcount => (3600*24 * 100)))
),
seconds_limited as (
    select second_start as timestamp
    from seconds
    where 
        timestamp >= date_trunc(second, (select min from range)) and 
        timestamp <= date_trunc(second, (select max from range))  

),
eras_per_second as (
-- select * from query_era;
select
    seconds.timestamp,
    count(era_start) as eras_found
from seconds_limited seconds
left join query_era as era
    on date_trunc('hour', seconds.timestamp) = date_trunc('hour', era.era_start) -- NEW: equi-join condition
    -- and seconds.warehouse_id = queries.warehouse_id
    and seconds.timestamp -- range join condition
      between date_trunc('second', era.era_start) and date_trunc('second', era.era_end)
group by 1
)
select *
from eras_per_second
order by timestamp asc;
"""
df = sql_to_df(sql)
df

In [ ]:


# state = list(zip(df.timestamp, df.eras_found))

# def wh_events_simulated(wh_activity_series):
started = False
events = []
for (ts, active) in state:
    # simulate auto-resume
    if active and not started:
        started = True
        resumed_on = ts
        events.append((ts, 'resumed'))
        # logger.info(f"resumed on {ts}")

    time_since_resumed = ts - resumed_on

    # smart shutdown
    if started:
        if (not active) and time_since_resumed >= Timedelta(seconds=60):
            started = False
            # logger.info(f"suspended on {ts}")
            events.append((ts, 'suspended'))

events_df = pd.DataFrame(events, columns=['ts', 'type'])
# return events_df

In [ ]:
conn.schema

In [ ]:
suspend_lags_sql = """
with eras as (
    select
        'query' as type,
        warehouse_id,
        warehouse_name,
        era_start,
        era_end
    from query_era

    union

    select
        'warehouse'as type,
        warehouse_id,
        warehouse_name,
        era_start,
        era_end
    from warehouse_era
    where era_start > (select min(era_start) from query_era)
),
enriched as (
    select 
        row_number() over(order by warehouse_id, era_end) as era_id,
        *,
        -- max(era_end) over (partition by warehouse_id)
        lag(type) over (partition by warehouse_id order by era_end) as previous_ending_type,
        lag(era_end) over (partition by warehouse_id order by era_end) as previous_ending_time,
        case when type = 'warehouse' and previous_ending_type = 'query' then timediff(milliseconds, previous_ending_time, era_end)/1000 else null end as suspend_lag,
        case when type = 'query' and previous_ending_type = 'query' then timediff(milliseconds, previous_ending_time, era_start)/1000 else null end as time_since_last_query,
        timediff(seconds, era_start, era_end) as era_seconds
    from eras
)
select * from enriched
"""

df = sql_to_df(suspend_lags_sql)

In [ ]:

import plotly.express as px
px.histogram(df[df.warehouse_name == 'DEMO_SMALL'], 'suspend_lag')

In [ ]:

warehouses_strategies = [
    ("autosuspend_sixty", "autosuspend_sixty"),
    ("smartsuspend_ten", "smartsuspend_ten"),
    ("suspend_ten", "suspend_ten"),
    # ("demo", "suspend_ten")
]

while True:
    time.sleep(1)
    logger.info("\n=======================================================================================================\n")

    for (wh, strategy) in warehouses_strategies:
        df = sql_to_df(f"show warehouses like '{wh}'")
        logger.info(f"warehouse {wh}")
        if (len(df) == 0):
            logging.info("not found")
            continue
        status = df.iloc[0].to_dict()
        state = status['state']
        running = status['running']
        queued = status['queued']
        inactive = (running + queued) == 0
        time_since_resumed = pd.Timestamp.utcnow() - status['resumed_on']
        logger.info(f"state {state} | running {running} | queued {queued} | inactive {inactive} | time_since_resumed {time_since_resumed}")
        logger.info("---------------------------------------------------------------------------------------------------------------")
        if state == 'STARTED':

            # if wh == 'autosuspend_sixty':
            #     logging.info("doing nothing")

            if strategy == "suspend_ten":
                if inactive:
                    run_sql(f"ALTER WAREHOUSE {wh} SUSPEND")

            if strategy == "smartsuspend_ten":
                if inactive and time_since_resumed >= Timedelta(seconds=60):
                    run_sql(f"ALTER WAREHOUSE {wh} SUSPEND")

In [ ]:
while True:
    time.sleep(1)
    logger.info("\n=======================================================================================================\n")
    df = sql_to_df("show warehouses")
    
    logger.info(f"warehouse {wh}")
    if (len(df) == 0):
        logging.info("not found")
        continue
    status = df.iloc[0].to_dict()
    state = status['state']
    running = status['running']
    queued = status['queued']
    inactive = (running + queued) == 0
    time_since_resumed = pd.Timestamp.utcnow() - status['resumed_on']
    logger.info(f"state {state} | running {running} | queued {queued} | inactive {inactive} | time_since_resumed {time_since_resumed}")
    logger.info("---------------------------------------------------------------------------------------------------------------")
    if state == 'STARTED':

        # if wh == 'autosuspend_sixty':
        #     logging.info("doing nothing")

        if strategy == "suspend_ten":
            if inactive:
                run_sql(f"ALTER WAREHOUSE {wh} SUSPEND")

        if strategy == "smartsuspend_ten":
            if inactive and time_since_resumed >= Timedelta(seconds=60):
                run_sql(f"ALTER WAREHOUSE {wh} SUSPEND")

In [ ]:
status['resumed_on']

In [ ]:
from datetime import datetime
datetime.now()

In [ ]:
import pandas as pd
pd.Timestamp.utcnow() - status['resumed_on']